/*Author: Charles Tiriamai*/
/*Imitated Tribute Page */
html {
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
}

div {
  background-color: lightgrey;
  margin: 10px 20%;
  
}

header {
  padding: 20px;
}

h2 {
  font-style: italic;
  font-size: 20px;
}

figure {
  text-align: center;
  background-color: white;
  padding: -15px;
  margin: 0px;
}

figure img {
  width: 99%;
}
figcaption{
  padding: 10px;
}

ul {
  background: lightgrey;
  width: 50%;
  margin: 0 0 0 25%;
  text-align: left;
  text-justify: justify;
}
p{
  padding: 20px;
  text-align: left;
  text-justify: justify;
}
em{
  font-size: 10px;
}
.quote{  
  text-align: left;
}
a{
  text-decoration: none;
}
footer{
  border-top: 1px solid lightgrey;
  padding: 15px;
  width: 90%;
  margin: 0 auto;
}